= render 'shared/header'
.container
  = render 'shared/mypage-side'
  %h3 お気に入りしている投稿
  - @user.favorited_posts.each do |post|
    = post.user.profile.name
    %a{:href => "/posts/#{post.id}"}= post.title
