.footer
  %nav.footer__box
    .footer__box__cell
      %h2 MusiQについて
      %ul.about
        %li.text 会社概要（運営会社)
        %li.text 採用情報
        %li.text プレスリリース
        %li.text 公式ブログ
        %li.text MusiQロゴ利用ガイドライン
        %li
          =fa_icon "twitter",class:"sns-icon"
          =fa_icon "facebook-square",class:"sns-icon"
      
    .footer__box__cell
      %h2 ヘルプ＆ガイド
      %ul.about
        %li.text MusiQガイド
        %li.text MusiQあんしん・あんぜん宣言！
        %li.text MusiQボックス

    .footer__box__cell-double
      %h2 プライバシーと利用規約
      %ul.about-left
        %li.text プライバシーポリシー
        %li.text MusiQ利用規約
        %li.text あんしんスマホサポート制度に関する利用特約
        %li.text コンプライアンスポリシー
      
      %ul.about-right
        %li.text 個人データの安全管理に係る基本方針
        %li.text 特定商取引に関する表記
        %li.text 資金決済法に基づく表示
        %li.text 法令順守と犯罪抑止のために
        

    .footer__box__cell
      %h2 国
      %ul.about
        %li.text 日本

      
  .footer__bottom
    %span.footer__bottom__small-icon
      %small © 2019 TECH:MUSIC WORKS
  .footer__btn
    = link_to new_post_path, class: "question" do
      .footer__btn__text
        出品する
        .camera-icon
          =fa_icon "ship"
