= form_for post do |f|
  .form-group.padding-top-15
    =f.attachment_field :image
  .form-group.padding-top-15
    =f.label :title, 'タイトル'
    =f.text_field :title, class: 'form-control'
  .form-group
    =f.label :body, '本文'
    =f.text_area :body, rows: 10, class: 'form-control'
  =f.submit class:'btn btn-success'
