.wrapper
  .sidebar
    %h2 Menu
    %ul
      %li
        %a{:href => "#"}
          %i.fas.fa-home>
          トップページ
      %li
        %a{:href => "#"}
          %i.fas.fa-user>
          マイページ
      %li
        %a{:href => "posts/index_list"}
          %i.fas.fa-address-card>
          商品一覧
      %li
        %a{:href => "#"}
          %i.fas.fa-project-diagram>
          カテゴリー
      %li
        %a{:href => "#"}
          %i.fas.fa-blog>
          相談チャットフォーム
      %li
        %a{:href => "#"}
          %i.fas.fa-address-book>
          お問い合わせ
      %li
        %a{:href => "#"}
          %i.fas.fa-map-pin>
          Map

