.container
  %h1.text-center 楽市楽船
  - @posts.each do |post|
    = link_to post do
      .col-md-4.margin-top-5per.post-block.padding-top-15
        = image_tag 'chukotei.png', class: 'img-responsive padding-top-15'
        .padding-bottom-15
          %p.title= post.title
          %span
            = post.created_at.strftime("%Y年%m月%d日")
